{deps,
 [
  {yaws, ".*", {git, "https://github.com/klacke/yaws", {tag, "yaws-1.94"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {branch, master}}},
  {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git"}},
  {nprocreg, ".*", {git, "https://github.com/nitrogen/nprocreg.git", {branch, master}}},
  {simple_bridge, ".*", {git, "https://github.com/nitrogen/simple_bridge.git", {branch, master}}},
  {nitrogen_core, ".*", {git, "https://github.com/nitrogen/nitrogen_core.git", {branch, master}}}
 ]}.
