{deps,
 [
  {ranch, "0.*", {git, "git://github.com/extend/ranch", {tag, "0.8.2"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {branch, master}}},
  {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
  {nprocreg, ".*", {git, "https://github.com/nitrogen/nprocreg.git", {branch, master}}},
  {simple_bridge, ".*", {git, "https://github.com/nitrogen/simple_bridge.git", {branch, master}}},
  {nitrogen_core, ".*", {git, "https://github.com/nitrogen/nitrogen_core.git", {branch, master}}}
 ]}.
